body {
	font-family: 'Signika', sans-serif;
	background-color: #4e9948;
	color: #000b42;
	background-image: url('/bg.jpg');
	background-size: 100% auto;
	background-repeat: no-repeat;
	font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
}
